@keyframes p8 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loader {
  width: 25px;
  height: 25px;
  border: 3px solid #bb99ff;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);

  &:before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: p8 1.5s infinite linear;
    stroke-linecap: round;
  }

  @media screen and (max-width: 580px) {
    width: 16px;
    height: 16px;
  }
}
